<div ng-controller="DashboardController">
    <div class="container">
        <div class="row" style="height: 40px"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Heads up!</strong> Comprehensive view of Regression pack result.
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading centre">Components under Test
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover table-responsive">
                                <tr>
                                    <td>Components</td>
                                    <td>AB</td>
                                </tr>
                                <tr>
                                    <td>Production Version</td>
                                    <td>P78787</td>
                                </tr>
                                <tr>
                                    <td>Release Version</td>
                                    <td>R09009</td>
                                </tr>
                                <tr>
                                    <td>Registry, Library changes</td>
                                    <td>xxxxxx, yyyyyy</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading center">Upstream Components</div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover table-responsive">
                                <tr>
                                    <td>Components</td>
                                    <td>AB</td>
                                </tr>
                                <tr>
                                    <td>Production Version</td>
                                    <td>P78787</td>
                                </tr>
                                <tr>
                                    <td>Release Version</td>
                                    <td>R09009</td>
                                </tr>
                                <tr>
                                    <td>Registry, Library changes</td>
                                    <td>xxxxxx, yyyyyy</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading center">Downstream Components</div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover table-responsive">
                                <tr>
                                    <td>Components</td>
                                    <td>AB</td>
                                </tr>
                                <tr>
                                    <td>Production Version</td>
                                    <td>P78787</td>
                                </tr>
                                <tr>
                                    <td>Release Version</td>
                                    <td>R09009</td>
                                </tr>
                                <tr>
                                    <td>Registry, Library changes</td>
                                    <td>xxxxxx, yyyyyy</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="container">
                    <h2>Iteration Compare results</h2>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Iteration I</a></li>
                        <li><a data-toggle="tab" href="#menu1">Iteration II</a></li>
                        <li><a data-toggle="tab" href="#menu2">Iteration III</a></li>
                        <li><a data-toggle="tab" href="#menu3">Iteration IV</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="bar">
                                <!-- Create a binding between the searchString model and the text field -->
                                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
                            </div>
                            <div class="bs-component">
                                <table class="table table-bordered">
                                    <tr ng-repeat="i in items | searchFor">
                                        <td><p>{{i.title}}</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="bar">
                                <!-- Create a binding between the searchString model and the text field -->
                                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
                            </div>
                            <div class="bs-component">
                                <table class="table table-bordered">
                                    <tr ng-repeat="i in items | searchFor">
                                        <td><p>{{i.title}}</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <div class="bar">
                                <!-- Create a binding between the searchString model and the text field -->
                                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
                            </div>
                            <div class="bs-component">
                                <table class="table table-bordered">
                                    <tr ng-repeat="i in items | searchFor">
                                        <td><p>{{i.title}}</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <div class="bar">
                                <!-- Create a binding between the searchString model and the text field -->
                                <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
                            </div>
                            <div class="bs-component">
                                <table class="table table-bordered">
                                    <tr ng-repeat="i in items | searchFor">
                                        <td><p>{{i.title}}</p></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
</div>